#logoAgendaClim {
    width: 392px;
    height: 79px;
    margin: 0 auto;
    display: block;
}

hr {
    width: 780px;
    border-color: #13C9F1;
}

body {
    font-family: 'Open Sans';
    color: #0367A5;
    font-size: 32px;
}

#tableMedico {
width: 1002px;
height: 684px;
margin: 0 auto;
display: block;
border-radius: 10px;
background: var(--White, #FFF);
box-shadow: 3px 3px 4px 1px rgba(3, 103, 165, 0.25), 0px -3px 4px 0px rgba(3, 103, 165, 0.25);
}

#imagemMedico {
    height: 178px;
    max-width: 100%;
    width: 194px;   
    border-radius: 50%;
}

#especialidadeDoMedico {
    font-weight: bold;
    color: #0367A5;
}

#iconCalendar {
    height: 40px;
    width: 40px;
}

#iconLocal {
    height: 40px;
    width: 40px;
}

.container {
    display: flex;
    align-items: center;
}