#medico {
width: 1002px;
height: 684px;
padding: 10px;
margin: 0;
margin-left: auto;
margin-right: auto;
border-radius: 10px;
background: var(--White, #FFF);
box-shadow: 3px 3px 4px 1px rgba(3, 103, 165, 0.25), 0px -3px 4px 0px rgba(3, 103, 165, 0.25);
}
#imagemMedico {
    height: 194px;
    left: 300px;
    border-radius: 50%;
}
#nomeDoMedico {
    font-family: 'Open Sans';
    color: #0367A5;
}
#especialidade {
    font-family: 'Open Sans';
    font-weight: bold;
    color: #0367A5;
}