.login-buttons {
    display: flex;
    justify-content: center;
    align-content: center;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'open sans', sans-serif;
    background-color: white;
}

.login-logo {
    width: 100%;
    max-width: 392px;
    margin: 10px auto 0;
}

.login-logo img {
    display: block;
    width: 100%;
    max-width: 392px; /* Largura exata do logo para telas grandes */
    max-height: 79px; /* Altura exata do logo para telas grandes */
    height: auto; /* Altura auto para manter proporção */
}

.hr-divider {
    width: 100%;
    border: none;
    height: 1px;
    background-color:  #13C9F1;
    margin-top: 20px;
    margin-bottom: 20px;
}


h2 {
    height: 60px;
    flex-shrink: 0;
    font-family: Oxanium, sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    line-height: 105.182%; /* 50.487px */  /*105.182%*/
    letter-spacing: -2.88px;
    background: linear-gradient(49deg, #0367A5 17.81%, #0367A5 84.62%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.social-login button {
    height: 63px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
    display: flex;
    width: 631px;
    padding: 4px 149px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.00);
    background: white;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25), 0 -1px 4px 0 rgba(0, 0, 0, 0.25);
}

.google-icon {
    margin-right: 8px; /* Espaço à direita do ícone */
    width: 40px; /* Largura do ícone */
    height: 40px; /* Altura do ícone */
}

.apple-icon {
    margin-right: 8px; /* Espaço à direita do ícone */
    width: 30px; /* Largura do ícone */
    height: 30px; /* Altura do ícone */
}

.or-divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

.or-divider .bar {
    flex-grow: 1;
    height: 1px;
    background-color:  #13C9F1;
    border: none;
}

.or-divider span {
    padding: 0 10px;
    background: linear-gradient(49deg, #0367A5 17.81%, #0367A5 84.62%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Oxanium, sans-serif;
    font-size: 25px;
    font-weight: bold;
}

.login-form {
    display: flex !important;
    justify-content: center !important;
    align-content: center !important;
    flex-direction: column !important;
}

.login-form input {
    color: #909091 !important;
    font-family: "Open Sans", sans-serif;
    height: 50px;
    margin: 10px 0;
    gap: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.00);
    background: white;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25), 0px -1px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 8px 32px;
    cursor: pointer;
    font-size: 25px;
    width: 500px;
}

.login-form button {
    height: 50px;
    margin: 10px 0;
    gap: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.00);
    background-color: #0367A5;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25), 0px -1px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    padding: 8px 32px;
    color: white;
    cursor: pointer;
    font-size: 25px;
    width: 500px;
    justify-content: flex-start;
}

.social-media-button {
    height: 50px;
    margin: 10px 0;
    gap: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.00);
    background: white;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25), 0px -1px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    padding: 8px 32px;
    color: #909091;
    cursor: pointer;
    font-size: 25px;
    width: 500px;
    justify-content: flex-start;
}

.social-media-button img {
    margin-right: auto;
    height: 30px;
    width: 30px;
}

.social-media-button span {
    flex-grow: 1;
    text-align: center;
    padding-right: 16px;
}
.social-media-button:focus {
    outline: none;
}
.signup-button {
    display: flex;
    justify-content: center;
    align-content: center;
}
.signup-button span {
    flex-grow: 1;
    text-align: center;
    padding-right: 16px;
}

.termos a {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 20px;
    text-align: justify;
    color: #0367A5;
    text-decoration: none;
    font-family: Oxanium, sans-serif;
}