ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: linear-gradient(to top, rgba(255,0,0,0), rgb(16, 165, 199));
}
  
li a:hover 
{
    background-color: #52a8cf;
}

body
{
    margin: 0px;  
}

.logo_navbar
{
    width: 210px;
    height: 45px;
}

.card 
{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 922px;
    padding: 20px;
    margin-left: 25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.titulo
{
    color: #035385;
    font-size: 25px; 
    font-family: 'open sans', sans-serif  
}

.escritas
{
    color: #0367A5;
    font-family: 'open sans', sans-serif
}

.profile
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-img 
{
    border-radius: 50%;
    width: 160px;
    height: 160px;
    margin-right: 20px;
}

h3
{
    margin: 5px 0;
}

.appointment-button 
{
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

.appointment-button:hover 
{
    background-color: #0056b3;
}

.schedule 
{
    margin-top: 20px;
}

table 
{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

th, td 
{
    border: 1px solid #ddd;
    padding: 8px;
}

th 
{
    background-color: #f8f8f8;
}

.clinic-info 
{
    margin-top: 20px;
}

label 
{
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input 
{
    width: 3%;
    height: 50px;
    padding: 3px;
    border-radius: 8px;
    border: 0px solid #000000;
    margin-left: 12px;
    margin-right: 12px;
    background-color: #0367A5;   
}

.button
{  
    background-color: #007bff;
    color: white; 
    border: none; 
    padding: 5px 10px; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    display: block;
    margin: 0;
    float: inline-end;
    margin-right:878px;
    margin-top: 20px;
}

.icone 
{
    width: 20px; 
    height: 20px; 
    margin-right: 5px;
}

.estrelas 
{
    color: #0367A5;
}

.botao
{
    border-radius: 20px;
    border: 1px solid #013269;
    background-color: white;
    padding: 20px 40px;
    width: 200px;
    height: 10px;
    color: #0367A5;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
  }
  
.perfil 
{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}  

.letras
{
   padding: 10px;
   width: 2050px; 
}

#select
{
    padding: 8px; 
    font-size: 13px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    appearance: none;
    font-family: 'open sans', sans-serif;
    margin: 0;
    margin-left: 450px;
}

#opicao
{
    padding: 8px; 
    font-size: 13px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    appearance: none;
    font-family: 'open sans', sans-serif;
    margin: 0;
}

