nav {
    background: linear-gradient(185deg, #13C9F1 26.18%, rgba(25, 25, 25, 0.16) 133.19%);
    height: 70px;
}

#side-menu{
    background: linear-gradient(185deg, #13C9F1 26.18%, rgba(25, 25, 25, 0.16) 133.19%);
    height: 100vh;
    max-width: 100px;
}

button {
    img{
        width: 40px;
        height: 40px;
    }
}
#calendar {
    width: 100%;
     margin: 40px auto;
 }
.fc-col-header-cell {
    font-size: 18px; /* Ajuste o tamanho da fonte conforme necessário */
    text-transform: capitalize;





}
.fc-day-header {
    text-transform: capitalize; /* Garante capitalização se necessário */
}
.fc-col-header-cell .fc-col-header-cell-cushion {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #0367A5 !important;
}
.fc-timegrid-slot, .fc-timegrid-slot-label {
    width: 100%;
}
.custom-header {
    font-size: 16px;
    color: #666;
    padding: 10px;
    background-color: #f9f9f9;
    width: 100%;
    border-bottom: 1px solid #ddd;
}