

.logo{
    display: flex;
    justify-content: center;
}
.logopng{
    width: 300px;
}

hr{
    width: 388px;
    border-color: #13c9f1;
}

.container2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box{
    margin-top: 2rem;
    border-radius: 5px;
    box-shadow: 3px 3px 4px 1px rgba(3, 103, 165, 0.25), 0px -3px 4px 0px rgba(3, 103, 165, 0.25);
    width: 600px;
    height: auto;
    margin-bottom: 30px;
}

.doctor{
    margin-top: 10px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.dra{
    width: 100px;
    height: 100px;
    margin-left: 250px;
}
.reagendar{
    margin-top: 30px;
    margin-bottom: 40px;
}

.reagendar>p{
    text-align: center;
    font-family: Oxanium;
    color: #0367A5;
    font-weight: bold;
}
.informações{
    margin-bottom: 60px;
}
.informações>img{
    width: 2rem;
    margin-left: 2rem;
    float: left;
}
.informações>p{
    margin-left: 5rem;
    font-family: "Open Sans";
    color: #0367A5;
}

.selecionar{
    font-weight: bold;
    text-align: center;
    font-family: Oxanium;
    color: #0367A5;
    margin-bottom: 20px;
}

.grid-container{
    font-weight: 550;
    text-align: center;
    font-size: 0.9rem;
    color: #0367A5;
    font-family: "Open Sans";
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr 1fr ;
    grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
    margin-bottom: 40px;
}

button{
    font-family: "Open Sans";
    background-color: #0367A5;
    color: white;
    border: none;
    padding: 10px;
    font-size: 17px;
    border-radius: 5px;
    width: 300px;
    margin-bottom: 50px;
}
nav {
    background: linear-gradient(185deg, #13C9F1 26.18%, rgba(25, 25, 25, 0.16) 133.19%);
    height: 70px;
}

#side-menu{
    background: linear-gradient(185deg, #13C9F1 26.18%, rgba(25, 25, 25, 0.16) 133.19%);
    height: 100vh;
    max-width: 100px;
}

button {
    img{
        width: 40px;
        height: 40px;
    }
}
#calendar {
    width: 100%;
     margin: 40px auto;
 }
.fc-col-header-cell {
    font-size: 18px; /* Ajuste o tamanho da fonte conforme necessário */
    text-transform: capitalize;





}
.fc-day-header {
    text-transform: capitalize; /* Garante capitalização se necessário */
}
.fc-col-header-cell .fc-col-header-cell-cushion {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #0367A5 !important;
}
.fc-timegrid-slot, .fc-timegrid-slot-label {
    width: 100%;
}
.custom-header {
    font-size: 16px;
    color: #666;
    padding: 10px;
    background-color: #f9f9f9;
    width: 100%;
    border-bottom: 1px solid #ddd;
}
>>>>>>> develop
