ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: linear-gradient(to top, rgba(255,0,0,0), rgb(16, 165, 199));
}
  
li 
{
    float: right;
}
  
li a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover 
{
    background-color: #52a8cf;
}

body
{
    margin: 0px;  
}

.logo_navbar
{
    width: 210px;
    height: 45px;
}

.full-width-image 
{
    background-image: url('../../assets/img/Background.png');
    height: calc(100vw * 1.53);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 0;
    margin-right: 0;
}

.search-section {
    display: flex;
    justify-content: center; 
    gap: 10px; 
    margin-top: 20px;
    margin-right: 35%;
    margin-top: 17%;
}


.search-section select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #0e7ba0;
    font-size: 16px;
    background-color: #ffffff;
    color: #333333;
    width: 200px;
}


.search-button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #00578d;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #00578d; 
}

.gradiente_title 
{
    font-size: 42px;
    text-align: center;
    background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0.03, rgb(3, 103, 165, 1)),
    color-stop(0.52, rgb(100, 159, 226)),
    color-stop(0.76, rgb(80, 243, 226, 1))
);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}





.grid-esquerda_l1
{
        width: 50%;
        float: left;
        padding: 15px;
}

.medslinha1
{
    width: 1014px;
    height: 1010px;
    text-align: center;
}

.grid-direita_l1
{
        width: 47%;
        height: 900px;
        float: right;
        padding: 15px;
        text-align: center;
}

.grid-esquerda_l2
{
        width: 50%;
        float: left;
        padding: 15px;
}

.grid-direita_l2
{
        width: 47%;
        height: 900px;
        float: right;
        padding: 15px;
        text-align: center;
}

.totalgrid-middle
{
    width: 100%;
    background-color: blanchedalmond;
}






















.pic-icon1
{
    height: 77px;
    width: 77px;
}

.pic-icon2
{
    height: 118px;
    width: 118px;
}

.pic-icon3
{
    height: 118px;
    width: 122px;
}

.gradiente_title2
{
    font-size: 34px;
    text-align: center;
    background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0.03, rgb(3, 103, 165, 1)),
    color-stop(0.52, rgb(100, 159, 226)),
    color-stop(0.76, rgb(80, 243, 226, 1))
);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.container {
    display: flex;
    align-items: center;
    gap: 15px; /* Espaço entre a imagem e o texto */
    margin: 20px;
    text-align: center;
}

.medslinha2
{
    width: 700px;
    height: 467px;
}

.line {
    display: flex;
    align-items: center;
    text-align: center;
}

.arrow {
    color: rgb(16, 165, 199);
    font-size: 40px;
    margin-right: 10px;
}




.footer {
    background: linear-gradient(to right, #0e7ba0, #30cee2);
    padding: 30px 0;
    color: white;
    text-align: left;
    bottom: 0px;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.footer-item {
    flex: 1;
    margin: 0 15px;
}

.footer-item h4 {
    font-size: 18px;
    margin-bottom: 15px;
}

.footer-item ul {
    list-style-type: none;
    padding: 0;
}

.footer-item li {
    margin-bottom: 10px;
}

.footer-item a {
    color: white;
    text-decoration: none;
}

.footer-item a:hover {
    text-decoration: underline;
}

/* resolver problema do footer/*
