html,body{
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  .container{
    justify-content: center;
    align-items: center;
  }
  
  #logo{
    max-width: 392px;
    max-height: 79px;
    position: relative;
    margin-top: 5px;
  }
  
  hr{
    width: 60%;
    border-color: #13c9f1;
  }
  
  .box{
    box-shadow: 3px 3px 4px 1px rgba(3, 103, 165, 0.25), 0px -3px 4px 0px rgba(3, 103, 165, 0.25);
    width: 500px;
    height: 507px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  .Dra{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    left: 200px;
    top: 1rem;
  }
  
  .Cancelamento > p {
    text-align: center;
    font-family: Oxanium;
    color: #0367A5;
    font-weight: 700;
    margin-top: 1.5rem;
  }
  
  .Doctor-icon{
    width: 2rem;
    position: relative;
    float: left;
    left: 2rem;
  }
  
  .info > p{
    font-family: "Open Sans";
    display: block;
    color: #0367A5;
    margin-left: 5rem;
  }
  span{
    font-weight: 700;
  }
  
  .Calendar-icon{
    width: 2rem;
    position: relative;
    left: 2rem;
    top: 2rem;
    float: left;
  }
  
  .data{
    position: relative;
    top: 1.8rem;
  }
  
  .Local-icon{
    width: 2rem;
    position: relative;
    left: 2rem;
    top: 4rem;
    float: left;
  }
  
  .local{
    position: relative;
    top: 3.5rem;
  }